# Build and Release Folders
bin/
obj/
logs/
ConsolLogs/
.vs/
*.csproj.user
# Other files and folders
.settings/
PublishProfiles/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/packages
/upload
/*.png
